.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: -65px;
}

.search-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid hsla(185, 36%, 51%, 0.249);
  border-radius: 20px 0 0 20px;
  width: 40vw;
  outline: none;
}

.search-form button {
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid hsla(185, 36%, 51%, 0.249);
  border-radius: 0 20px 20px 0;
  background-color: #0073e6;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.search-form button:hover {
  background-color: #005bb5;
}

@media (max-width: 768px) {
  .search-form input {
    width: 30vw;
  }

  .search-form {
    margin-bottom: 15px;
    margin-left: 50px;
  }
}

@media (max-width: 500px) {
  .search-form {
    margin-top: -10px;justify-content: center;
  }
  .search-form input {
    width: 100vw;
  }
}
