.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}



h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -0.2rem;
  color: #e60e0e;
}

.logos{
  display: flex;
  justify-content:space-between;
}

.logo{
  width: 4rem;
  height: 4rem;
}

