.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: -0.2rem;
  color: #e60e0e;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  border: none;
  background-color: transparent;
  font-size: 1.5rem; /* Adjust icon size as needed */
  cursor: pointer;
  text-decoration: none;
  color: inherit; /* Inherit color from parent or set specific color */ /* Space between buttons */
}

.button:hover {
  color: #007bff; /* Change color on hover */
}
